.card {
    position: relative;
    background: rgba(74, 30, 156, .8);
    width: 260px;
    border-radius: 25px;
    margin: 10px;

}

.card:hover {
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.6);
    background: rgba(74, 30, 156, 1);
}

.closeBt {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: rgba(33, 188, 199, 0.6);
    border: none;
    border-radius: 100%;
}

.closeBt:hover {
    background: rgba(33, 188, 199, 1);
}

.name {
    position: relative;
    top: -77px;
    margin: 25px;
    background: rgba(33, 188, 199, 0.6);
    font-size: 24px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.image {
    border-radius: 20px;
    margin: 13px;
    width: 90%;
    height: 90%;
}

.data {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    top: 237px;
    left: 15px;
    margin: 0px;
    font-size: 22px;

}

.data2 {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    top: 274px;
    left: 15px;
    margin: 0px;
    font-size: 22px;

}

.favorito {
    position: absolute;
    left: 185px;
    top: 284px;
    background: rgba(100, 100, 100, 0);
    border: none;
    font-size: 33px;
}